
@{
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";

}

<div id="page-wrap">
    <!-- PRELOADER -->
    <div class="preloader"></div>





    <section class="product-detail">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="product-detail__gallery">
                        <div class="product-slider-wrapper">
                            <div class="product-slider">
                                <div class="item">
                                    <img src="~/Content/WebsiteContent/images/img/Bardiya/1.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="~/Content/WebsiteContent/images/img/Bardiya/2.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="~/Content/WebsiteContent/images/img/Bardiya/3.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="~/Content/WebsiteContent/images/img/Bardiya/4.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="~/Content/WebsiteContent/images/img/Bardiya/5.jpg" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="product-tabs tabs">
                        <ul>
                            <li>
                                <a href="#tabs-1">About Bardiya </a>
                            </li>
                            <li>
                                <a href="#tabs-2">Famous Destination</a>
                            </li>

                        </ul>
                        <div class="product-tabs__content">
                            <div id="tabs-1" style="background-color: white">

                                <div class="tour-map-wrapper">
                                    <div class="tour-map" style="padding-left: 10px;">
                                        <div data-latlong="28.3102323, 81.4278984"></div>
                                    </div>
                                    <h6>Bardiya</h6>
                                    <p class="p_padding">
                                        Bardiya lies in Bheri zone in the mid western region of Nepal. It covers 2025 square kilometers and lies west of Banke district, south of Surkhet district, east of Kailali district. To the south lies Uttar Pradesh in India. Bardiya is mostly a fertile plain land covered with agricultural land and forest. However, lower hilly range of Nepal also known as Churiya range lies on the north. Bardiya National Park occupies northern part of the district. The national park covers 968 km2 and it is mostly located in Bardiya district. The park is the largest undisturbed wilderness area of Nepal's plain land. It provides excellent habitat for the engendered species of wild life such as Rhinoceros , Wild elephant , Tiger , Swamp deer , Black buck , Gharial crocodile , Marsh mugger crocodile , Gangetic dolphin, Bengal florican , Sliver-eared mesia , Sarus crane , Lesser florican. More than 30 species of mammals and more than 250 species of birds and many snakes, lizards and fish have been recorded in the park's forests, grasslands and river habitats
                                    </p>
                                    <br>
                                    <br>
                                    <p class="p_padding">The majority of the people living in this district are farmers. The district headquarters, Gularia lies on the Babai River. The Karnali, one of the largest rivers of Nepal, divides into many branches when it reaches the plain and flows through Bardiya. The western branch of the Karnali forms the boundary between Bardiya and Kailali districts. The eastern branch of the Karnali is called the Geruwa. The endangered Gangetic dolphin was often seen in its waters but dolphin population in the rivers of Bardiya have dwindled sharply in recent years.Bardiya was part of Nepal before the Sugauli Treaty with the British East India Company, through which Nepal lost the territory. It was returned to Nepal along with Banke, Kailali and Kanchanpur at the time of Jang Bahadur Rana. In the early twentieth century, Bardiya was covered with forest and was sparsely populated with Indigenoustribal people called Tharus. Dang and Deukhuri valleys of Dang district had very large Tharu population at that time. However, as the Nepali-speaking peoples from the hills started migrating towards Dang valley, Tharus were displaced and moved westward into Banke, Bardiya, Kailali and Kanchanpur. Later on, Nepali-speaking hill people also migrated into Bardiya. At present, thr majority of people living in Bardiya are Dangora Tharus. They have their own language. Sonaha, also tribals of Bardiya, who live near by the Karnali River, live by extracting gold from the sands of the river</p>
                                </div>

                            </div>

                            <div id="tabs-2">

                                <div class="trip-schedule-accordion accordion">
                                    <h3>Bardiya National Park</h3>
                                    <div style="background-color: white">
                                        <div class="tour-map-wrapper">
                                            <div class="tour-map" style="padding-left: 10px;">
                                                <div class="product-detail__gallery">
                                                    <div class="product-slider-wrapper">
                                                        <div class="product-slider">
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Bardiya/8.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Bardiya/7.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Bardiya/6.jpg" alt="">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6>Bardiya National Park</h6>
                                            <div class="padding">
                                                <p>
                                                    Ride through the silent jungle catching wildlife by surprise in the largest national park of Nepal in Bardiya or take nature walk under the guidance of expert naturalists with years of experience.Combine it with white-water rafting in the longest river of Nepal, Karnali, where you could even spot dolphins or gharial on a lucky day. And meet the charming Rana Tharu and Dangora people of southern Nepal to know more about their culture.
                                                </p>
                                                <br>
                                                <p>
                                                    Bardiya National Park is also one of the most undisturbed protected areas in the Terai and is home to the endangered Royal Bengal tiger and Nepal's famous one-horned rhinoceros. The park located in the far western district of Bardiya, is bordered by River Karnali in the west, the Churia range in the north, while the River Babai flows right through. Some of the other animals found here are elephant, swamp deer, blackbuck, gharial crocodile and marsh-mugger crocodile. The exotic Gangetic dolphin is also sometimes seen in River Karnali. Birds include endangered varieties of Bengal florican, lesser florican, silver-eared mesia and sarus crane.
                                                    The park offers opportunity of fishing at River Karnali and River Babai. The best time to visit is autumn, winter and early summer when the weather is warm and dry. Bardiya can be reached by road via Nepalgunj or by flight to Nepalgunj or Surkhet from where the park can be driven to.
                                                    Several safari lodges in Bardiya provide excellent accommodation and facilities for guests to enjoy wildlife activities. The nearest cities from here are Nepalgunj and Mahendranagar. Park headquarters Thakurdwara is approximately an hour's drive away from the Nepalgunj-Surkhet road.
                                                    .
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>Black Buck Santuaryk</h3>
                                    <div style="background-color: white">
                                        <div class="tour-map-wrapper">
                                            <div class="tour-map" style="padding-left: 10px;">
                                                <div class="product-detail__gallery">
                                                    <div class="product-slider-wrapper">
                                                        <div class="product-slider">
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Bardiya/9.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Bardiya/10.jpg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6>Black Buck Santuary</h6>
                                            <div class="padding">
                                                <p>
                                                    The another most second attractive spots in Bardia is the visit to Black Buck Sanctuary
                                                    which is located in Khairapur almost 40 km south- east of Headquarter of Bardia National Park or say easily from
                                                    Thakurdwara Village. This is only the place where the Black Buck are located in Nepal, and according to Hinduism
                                                    Black Buck are taken as a symbol of God Kale Krishna according to its color matching. If you would like to have a
                                                    push bike adventurous, it will take around one hour to reach or even you can do the bike ride or public
                                                    transportation but hoteliers or homestay can organize you the private transport. One should not miss this place,
                                                    especially if you are lucky just see how Blck Buck jumps in the sky.
                                                </p>

                                                <br>

                                            </div>
                                        </div>
                                    </div>
                                    <h3>Thakurbaba Temple</h3>
                                    <div style="background-color: white">
                                        <div class="tour-map-wrapper">
                                            <div class="tour-map" style="padding-left: 10px;">
                                                <div class="product-detail__gallery">
                                                    <div class="product-slider-wrapper">
                                                        <div class="product-slider">
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Bardiya/14.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Bardiya/11.jpg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6>Thakurbaba Temple</h6>
                                            <div class="padding">
                                                <p>
                                                    This temple is positioned in the heart of Thakurdwara Village, a 10-minute walk from the
                                                    headquarter of Bardia National Park. Usually, it opens every day for followers but on the occasion thousand of
                                                    visitors visits this temple. Especially in mid-January or the first month of Magh according to Nepali calendar,
                                                    Thousand of visitors can be seen who comes to worship Thakurbaba God or we Say God Bishnu, Followers start to
                                                    take a bath in a very cold water river from 12 AM and stand in a queue and fasting hoping to fulfill their desire. Many
                                                    stalls are set up which last for almost three days for their easy convenience.
                                                </p>


                                            </div>
                                        </div>
                                    </div>
                                    <h3>Karnali Bridge</h3>
                                    <div style="background-color: white">
                                        <div class="tour-map-wrapper">
                                            <div class="tour-map" style="padding-left: 10px;">
                                                <div class="product-detail__gallery">
                                                    <div class="product-slider-wrapper">
                                                        <div class="product-slider">
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Bardiya/12.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Bardiya/13.jpg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6>Karnali Bridge</h6>
                                            <div class="padding">
                                                <p>
                                                    Karnali Bridge, an agent between Western and Far Western Region Nepal. As of it was nearby my hometown almost
                                                    30 km away, and is always basic for me so did not try to keep the information much even this bridge was built in
                                                    front of my eyes. The sunlight was very bright with no clouds and letting us sweating most of the time with 4o
                                                    degrees but being born the heat is normal for me. Thought to have a little bike tour rather than being lazy and lying
                                                    down on a wooden couch, checked the bike and filled up the fuel in Munna’s shop, we call him Munna in my
                                                    hometown in Thakurdwara Village. Leaving dust in the air on the gravel road headed up to Chisapani, a􀁸er riding 13
                                                    km in a dusty stone gravel road reached Ambassa, you would be decorated with local dust powder in my village if
                                                    you ride a bike and walking and passes any vehicles through you. almost 17 km highway passes through the Bardia
                                                    National Park, registered my bike in Army checkpoint with speed limit allowed to make sure animal protection on the
                                                    highway.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>
    </section>
</div>








