
@{
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";

}

<div id="page-wrap">
    <!-- PRELOADER -->
    <div class="preloader"></div>





    <section class="product-detail">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="product-detail__gallery">
                        <div class="product-slider-wrapper">
                            <div class="product-slider">
                                <div class="item">
                                    <img src="~/Content/WebsiteContent/images/img/ChitwanDestination/1.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="~/Content/WebsiteContent/images/img/ChitwanDestination/2.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="~/Content/WebsiteContent/images/img/ChitwanDestination/3.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="~/Content/WebsiteContent/images/img/ChitwanDestination/4.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="~/Content/WebsiteContent/images/img/ChitwanDestination/5.jpg" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="product-tabs tabs">
                        <ul>
                            <li>
                                <a href="#tabs-1">About Chitwan</a>
                            </li>
                            <li>
                                <a href="#tabs-2">Famous Destination</a>
                            </li>

                        </ul>
                        <div class="product-tabs__content">
                            <div id="tabs-1" style="background-color: white">

                                <div class="tour-map-wrapper">
                                    <div class="tour-map" style="padding-left: 10px;">
                                        <div data-latlong="27.583331, 84.5166646"></div>
                                    </div>
                                    <h6>Chitwan</h6>
                                    <p class ="p_padding">The Chitwan District (Nepali: चितवन जिल्ला) is one of 75 districts of Nepal, and is located in the south-western part of Narayani Zone with Bharatpur, the fifth largest city of Nepal, as its district headquarters. It covers an area of 2,238.39 km2 (864.25 sq mi), and in 2011 had a population of 579,984 (279,087 male and 300,897 female) people. Bharatpur is a commercial and service centre of central south Nepal and merger destination for higher education, health care and transportation of the region.The district takes its name from the Chitwan Valley, one of Nepal's Inner Terai valleys between the Mahabharat and Siwalik ranges, both considered foothills of the Himalayas.Bharatpur is located on the banks of the Narayani River, and is the main town with numerous shopping zones where people come from all over the district and neighbouring districts.Now there are about 40 Village Development Committees, each of which has nine wards or villages and one sub-Metropolitan city, Bharatpur. The Ratnanagar, Khairahani and Chitrawan municipalities have more than nine wards or urban areas.</p>
                                    <br>
                                    <br>
                                    <p class ="p_padding">Chitwan is famous in Nepal for mustard growing and production of mustard oil. This popularity of the mustard in Chitwan is attributed to the predominant soil type silt, resulting from the flooding of the Narayani River and tributaries. Chitwan is also profusely spotted with clay lands, which are very good for growing rice, wheat and vegetables such as cabbage, cauliflower, radish, potato, broccoli, cucumbers, pumpkins, and carrot. Chitwan is also famous for floriculture, mushroom cultivation and bee keeping.Chitwan is very popular for tasty Taas (Nepali: तास) a spicy fried goat-meat lunch dish served with Bhuja or Cheura available in many restaurants. Momo, Sukuti Khaja Set and other Newa Cuisine also available. Dal bhat is the staple food of the area, meat and dairy products are also widely consumed. For centuries, traditional fermented foods and beverages have constituted about 20 per cent of the local diet. Depending on altitudinal variation, finger millet, wheat, buckwheat, barley, vegetable, potato, and soybeans are grown.Chitwan has a particularly rich flora and fauna. Nepal's first national park, the Chitwan National Park together with the adjacent Parsa Wildlife Reserve support a species diversity much higher than any other on the Indian subcontinent. Rare species include Bengal tiger, gharial, rhino, leopards, mugger crocodile, Indian rock python and several species of deer. The protected areas are guarded by a battalion of the Nepal Army and patrolled by anti-poaching units.</p>
                                </div>

                            </div>

                            <div id="tabs-2">

                                <div class="trip-schedule-accordion accordion">
                                    <h3>Bharatpur</h3>
                                    <div style="background-color: white">
                                        <div class="tour-map-wrapper">
                                            <div class="tour-map" style="padding-left: 10px;">
                                                <div class="product-detail__gallery">
                                                    <div class="product-slider-wrapper">
                                                        <div class="product-slider">
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Bharatpur/1.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Bharatpur/2.jpg" alt="">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6>Bharatpur</h6>
                                            <div class="padding">
                                                <p>Bharatpur (Nepali: भरतपुर) is a city in the central-southern part of Nepal. Located in Chitwan Valley, Bharatpur is the district headquarters of the Chitwan District, as well as a separate Municipal authority, and is the fifth largest city of Nepal with the population of 199,867 (census 2011). Bharatpur is one of the fastest growing cities of Nepal. It lies on the banks of Narayani River and serves as a commercial center of Chitwan district and central region of Nepal. It is located at the center of Mahendra (east -west) highway and Kathmandu - Birganj (North-South) road corridor.</p>

                                                <br>
                                                <p>Most of the shopping area lies in the district of Narayangarh, while government offices, big hospitals and colleges are situated in other parts of the city, including Nepal's premier cancer hospital, B.P Koirala Memorial Cancer Hospital. The economy of Bharatpur was traditionally based on agriculture. The agricultural land is gradually converted into the residential and industrial areas. Main industries of Bharatpur are small scale processing industries. A large number of poultry industries have developed in the municipality. It is believed that it covers more than 60% of the total poultry demand of the country. Moreover, this municipality has a substantial volume of poultry products for export trade. Other produce of the city are honey, mushrooms, floriculture, and service industry (education and health). Chitwan is regarded as food surplus district, which is processed in Bharatpur and sold to major cities of the country including Kathmandu and Pokhara. Besides, multinational companies like Coca-Cola, San Miguel are also situated within the city. A large number of business and trading houses are based in the city. The major companies across the country have opened their branches in the city. Its central position along with the crossroads of Bharatpur has enabled it to increase its wholesale and retail trading function.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>Chitwan National Park</h3>
                                    <div style="background-color: white">
                                        <div class="tour-map-wrapper">
                                            <div class="tour-map" style="padding-left: 10px;">
                                                <div class="product-detail__gallery">
                                                    <div class="product-slider-wrapper">
                                                        <div class="product-slider">
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/ChitwanNationalPark/1.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/ChitwanNationalPark/2.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/ChitwanNationalPark/3.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/ChitwanNationalPark/4.jpg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6>Chitwan National Park</h6>
                                            <div class="padding">
                                                <p>
                                                    Chitwan National Park is situated in south central Nepal in the sub tropical lowlands of the inner terai of Chitwan, Makawanpur, Parsa and Nawalparasi districts. It lies between 27°16.56’- 27°42.14’ Latitudes and 83°50.23’-84°46.25’ Longitudes. The altitude ranges from 110m to 850m above sea level. The park is bounded by the Rapti and Narayani River in the north, Parsa Wildlife Reserve in the east and Madi settlements and India border in the south. The physiography of the park consists of the Terai and Siwaliks. Three major rivers Narayani, Rapti and Reu, and their floodplains; and several lakes and pools are the major water sources of the park.
                                                </p>

                                                <br>
                                                <p>
                                                    Being the first protected area of Nepal, it has a long history of over three decades in park management and rich experiences in nature conservation. Chitwan was a big game area for the royal families, Rana rulers and their guests. The area comprising the Tikauli forest from Rapti River to the foothills of the Mahabharat extending over an area of 175 km2 was declared as Mahendra Deer Park in 1959. The area south of the Rapti River was demarcated as a Rhino Sanctuary in 1963. It was proclaimed as Royal Chitwan National Park with an area of 932 km2 in 1973. After the peoples’ revolution in 2006, the park’s name was changed to Chitwan National Park. In recognition of its unique biological resources of outstanding universal value, UNESCO designated CNP as a World Heritage Site in 1984. In 1996, an area of 750 km2 surrounding the park was declared a buffer zone, which consists of forests and private lands including cultivated lands. The buffer zone contains a Ramsar Site – Beeshazari Lakes. The park and the local people jointly initiate community development activities and manage natural resources in the buffer zone. The government of Nepal has made a provision of plowing back 30-50 percent of the park revenue for community development in the buffer zone.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>Narayani River</h3>
                                    <div style="background-color: white">
                                        <div class="tour-map-wrapper">
                                            <div class="tour-map" style="padding-left: 10px;">
                                                <div class="product-detail__gallery">
                                                    <div class="product-slider-wrapper">
                                                        <div class="product-slider">
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/NarayaniRiver/1.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/NarayaniRiver/2.jpg" alt="">
                                                            </div>                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6>Narayani River</h6>
                                            <div class="padding">
                                                <p>
                                                    The Narayani River is one of the largest rivers in Nepal. It is the final collector of seven extremely complex drainage systems of the Trans-Himalaya and consists of countless creeks, hill streams, rivers, forest lakes, wetlands, floodplains and oxbows. The Kaligandaki is the main feeder system of the Narayani. It originates on the Tibetan plateau and cuts through the Nepal Himalayas between Dhaulagiri and Annapurna, forming the world's deepest gorge. After joining the Trishuli (also called Trisuli) River in Deoghat it is called the Narayani, which runs for approximately 332 km through Nepal before it spills onto the Gangetic plains of India. The Kaligandaki/Narayani system cuts through all of Nepal's varied zones and thus presents an excellent opportunity to examine the fish distribution along an impressive altitudinal gradient.
                                                </p>

                                                <br>
                                                <p>
                                                    Sixty-nine species of fish belonging to 9 orders and 19 families were collected from the Narayani River system, Nepal. Of these, 13 species can be classified as cold water fish. The status of each fish species is described based on the observations from the Narayani and some of the tributaries. Forty-seven fishermen families are catching fish and all fishermen have reported decreasing fish catches. At Gaindakot (Nawalparasi) the catch per person per gear per day was 0.9 kg and at the Bharatpur municipality it was 1.3 kg. Because of low catches some river fishermen seek alternative work. The demand for fish remains high. It is recommended to set up a fish farm for producting Tor putitora (mahseer/sahar) and Neolissocheilus hexagonolepis (katle), protect the environment, minimise pollution, establish fish sanctuaries, ban destructive fishing methods and enforce fishery regulations.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>Meghauli</h3>
                                    <div style="background-color: white">
                                        <div class="tour-map-wrapper">
                                            <div class="tour-map" style="padding-left: 10px;">
                                                <div class="product-detail__gallery">
                                                    <div class="product-slider-wrapper">
                                                        <div class="product-slider">
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Meghauli/1.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Meghauli/2.jpg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6>Meghauli</h6>
                                            <div class="padding">
                                                <p>
                                                    Meghauli (Nepali : मेघौली) is one of the best tourist destination of Bharatpur Metropolitan City. It is located in Chitwan District in the Narayani Zone of southern Nepal. At the time of the 1991 Nepal census it had a population of 12,281 people living in 2027 individual households. Meghauli village touches over 25 km of the borders of the park and is situated on the banks of the Rapti and Narayani River. Situated at 172 km from Kathmandu, Meghauli is in the western part of Chitwan district. Meghauli is one of the richest villages in Chitwan in terms of wildlife, different cultures and sports is located in the adjacent of Chitwan National Park
                                                </p>

                                                <br>
                                                <p>
                                                    Meghauli is the western entrance of the Chitwan National Park that attracts thousands of visitors every year to explore its rich flora and fauna. The huge 25 km long community forest is another eye catching object of Meghauli. The new concept had been materialized for the tourism development in Meghauli. National park entrance gate, elephant stable, view tower, eco park. National crocodile dreediy pond and medicinal herbal farming in the buffer zone are the main attractions in the Meghauli. It is also a very interesting place to learn about the local indigenous Tharu people as the village is a very well preserve example of a traditional settlement and now is possible to stay at one of the 5 Tharu Homestays. Apart from these, Meghauli has excellent potential for the establishment of resorts and hotels. Rhino Resort, Golaghat Wildlife Resort, Barahi Resort, Chital lodge, Chautari lodge and restaurant etc. are serving to some extent who come to visit Megauli. Rafters, after a trip end at the Golaghat, the confluence of Narayani and Rapti River, can see the sunset and a view of the Himalayas. Meghauli has a good balance between human settlement and wildlife.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
        </div>
    </section>
</div>








