
@{
    ViewBag.Title = "Kathmandu";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}


<div id="page-wrap">
    <!-- PRELOADER -->
    <div class="preloader"></div>
    <section class="product-detail">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="product-detail__gallery">
                        <div class="product-slider-wrapper">
                            <div class="product-slider">
                                <div class="item">
                                    <img src="~/Content/WebsiteContent/images/img/Kathmandu/2.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="~/Content/WebsiteContent/images/img/Kathmandu/3.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="~/Content/WebsiteContent/images/img/Kathmandu/1.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="~/Content/WebsiteContent/images/img/Kathmandu/4.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="~/Content/WebsiteContent/images/img/Kathmandu/5.jpg" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="product-tabs tabs">
                        <ul>
                            <li>
                                <a href="#tabs-1">About Kathmandu valley </a>
                            </li>
                            <li>
                                <a href="#tabs-2">Famous Destination</a>
                            </li>

                        </ul>
                        <div class="product-tabs__content">
                            <div id="tabs-1" style="background-color: white">

                                <div class="tour-map-wrapper">
                                    <div class="tour-map" style="padding-left: 10px;">
                                        <div data-latlong="27.7172, 85.3240"></div>
                                    </div>
                                    <h6>Kathmandu valley</h6>
                                    <p class="p_padding">
                                        The cultural heritage of the Kathmandu Valley is illustrated by seven groups of monuments and buildings which display the full range of historic and artistic achievements for which the Kathmandu Valley is world famous. The seven include the Durbar Squares of Hanuman Dhoka (Kathmandu), Patan and Bhaktapur, the Buddhist stupas of Swayambhu and Bauddhanath and the Hindu temples of Pashupati and Changu Narayan.
                                    </p>
                                    <br>
                                    <br>
                                    <p class="p_padding">
                                        Located in the foothills of the Himalayas, the Kathmandu Valley World Heritage property is inscribed as seven Monument Zones. These monument zones are the Durbar squares or urban centres with their palaces, temples and public spaces of the three cities of Kathmandu (Hanuman Dhoka), Patan and Bhaktapur, and the religious ensembles of Swayambhu, Bauddhanath, Pashupati and Changu Narayan. The religious ensemble of Swayambhu includes the oldest Buddhist monument (a stupa) in the Valley; that of Bauddhanath includes the largest stupa in Nepal; Pashupati has an extensive Hindu temple precinct, and Changu Narayan comprises traditional Newari settlement, and a Hindu temple complex with one of the earliest inscriptions in the Valley from the fifth century AD. The unique tiered temples are mostly made of fired brick with mud mortar and timber structures. The roofs are covered with small overlapping terracotta tiles, with gilded brass ornamentation. The windows, doorways and roof struts have rich decorative carvings. The stupas have simple but powerful forms with massive, whitewashed hemispheres supporting gilded cubes with the all-seeing eternal Buddha eyes.                                                
                                       
                                    s</p>
                                </div>

                            </div>

                            <div id="tabs-2">

                                <div class="trip-schedule-accordion accordion">
                                    <h3>Durbar Square Kathmandu</h3>
                                    <div style="background-color: white">
                                        <div class="tour-map-wrapper">
                                            <div class="tour-map" style="padding-left: 10px;">
                                                <div class="product-detail__gallery">
                                                    <div class="product-slider-wrapper">
                                                        <div class="product-slider">
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Kathmandu/6.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Kathmandu/7.jpg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6>Durbar Square Kathmandu</h6>
                                            <div class="padding">
                                                <p>
                                                    Kathmandu Durbar Square in the heart of old Kathmandu city in Basantapur never fails to impress first time visitors with its intricate wood carvings and rich history. Surrounded by concrete buildings, the complex is an oasis in a fast developing, chaotic modern city. Once the residence of Nepal's Royal family, all coronation ceremonies were held here. The palace is an amalgamation of eastern and western architecture with additions by Rana and Shah rulers over the centuries. An unbelievable 50 temples lie within the vicinity including the temple of the titular deity, Taleju Bhawani. The Durbar is divided into two courtyards, the outer Kasthamandap, Kumari Ghar, and Shiva-Parvati Temple, and the inner section consisting of Hanuman Dhoka and the main palace. Some floors have been converted to museums dedicated to three generations of Shah kings. Most parts of the palace premises are open to tourists throughout the week.
                                                </p>
                                                <br>
                                                <p>
                                                    Some important monuments to see in this area are:
                                                    The Taleju Temple is the tallest of all structures, built by King Mahendra Malla in 1549 AD. This temple is open to the public for one day each year during the Dashain festival.
                                                    The Jagannath Temple, built in the 16th century is known for the fascinating erotic figures carved on the wooden struts.
                                                    The Kal Bhairav, one of the largest 17th century stone statues in Kathmandu, representing the terrifying aspect of Lord Shiva.
                                                    Swet-Bhairav - the temple is open to the public once in year during Indra Jatra Festival. The 17th century Kumari Temple (the temple of Living Goddess) is an example of highly developed Nepali craftmanship.
                                                    Kaandasthamp, from which Kathmandu derives its name, is said to have been built from the timber of a single tree.
                                                    .
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>Hanuman Dhoka</h3>
                                    <div style="background-color: white">
                                        <div class="tour-map-wrapper">
                                            <div class="tour-map" style="padding-left: 10px;">
                                                <div class="product-detail__gallery">
                                                    <div class="product-slider-wrapper">
                                                        <div class="product-slider">
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Kathmandu/9.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Kathmandu/10.jpg" alt="">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6>Hanuman Dhoka</h6>
                                            <div class="padding">
                                                <p>
                                                    Kathmandu Durbar Square ( "UNESCO World Heritage Site") also known as Hanuman Dhoka square is one of the major attractions in Kathmandu Valley. Most of the cultural centers of Nepal are concentrated around the Kathmandu valley; among those cultural sites, the important one is the Hanuman-dhoka Durbar Square. The name Hanuman-dhoka Durbar came from the statue of Hanuman established by the King Pratap Malla at the entrance of the royal palace in 1672 A.D. storeyed residence built by King Prithvi Narayan shah in 1770,is called Basantapur Durbar(palace). The whole complex is also known as Kathmandu Durbar Square. Located at the heart of ancient city in Kathmandu it is srounding both Hindu and Buddhist temple. Most of them are built in the pagoda style embellished with intricately carved exteriors as well as Most of the buildings we see here date from 15th to 18th century . The Durbar Square, with its old temples, palaces, epitomizes the religious and cultural life of the people. The major Interesting things to see here are "Kumari (The Living Goddess) Gar" "Kastha Mandap"Maru Ganesh, Mahadev Temple, Shiva Parvati Temple, Bhagwati Temple, Old palace, Saraswoti temple, Krishna Octangular Temple, Big drums, Kal Bhairav, Jagannath Temple, and Taleju Temple etc..
                                                </p>

                                                <br>

                                            </div>
                                        </div>
                                    </div>
                                    <h3>Narayanhiti Palace</h3>
                                    <div style="background-color: white">
                                        <div class="tour-map-wrapper">
                                            <div class="tour-map" style="padding-left: 10px;">
                                                <div class="product-detail__gallery">
                                                    <div class="product-slider-wrapper">
                                                        <div class="product-slider">
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Kathmandu/11.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Kathmandu/12.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Kathmandu/13.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Kathmandu/14.jpg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6>Narayanhiti Palace</h6>
                                            <div class="padding">
                                                <p>
                                                    For centuries, the Narayanhiti Palace stood as a symbol of royalty and of affluence, and was one of the structures in Nepal that no one had been able to enter, except for those authorized or invited by the royal family. It had been a building shrouded in controversy, scandal and mystery, as the thick walls and armed guards tried to shield the palace and its inhabitants from the world. But in 2008, the Shah monarchy ended and the gates to the Narayanhiti Palace opened to the public in February 2009. The Narayanhiti Palace was now Narayanhiti Palace Museum.

                                                    The Narayanhiti Palace was commissioned in 1966 by Late King Birendra’s father, Late King Mahendra, from the American architect Benjamin Polk, then living in Delhi and running the biggest architectural practice in South Asia..
                                                </p>
                                                <br />
                                                <p>
                                                    Now, ordinary citizens queue round the block to see how their recent monarchs lived. Of the 52 rooms, only 19 are currently open to the public. The rooms are called ‘sadan’-most sadans named after a district. Some rooms are grandiose – especially the huge towered throne room behind the prominent front window, where extraordinary curved pillars with garish pictures of Hindu deities leap from the walls. These are rooms that clearly cost huge sums to decorate.

                                                    Be careful when you step through the outline of the building outside. The building, called ‘Tribhuvan Sadan’, was where the royal massacre took place on June 1, 2001. It was swiftly demolished after the massacre. The building is where you will get goose bumps all over your body as you see signs point out bullet holes in the wall and the location where each member of the royal family was shot that ill-fated night.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>Nagarkot</h3>
                                    <div style="background-color: white">
                                        <div class="tour-map-wrapper">
                                            <div class="tour-map" style="padding-left: 10px;">
                                                <div class="product-detail__gallery">
                                                    <div class="product-slider-wrapper">
                                                        <div class="product-slider">
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Kathmandu/15.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Kathmandu/16.jpg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6>Nagarkot</h6>
                                            <div class="padding">
                                                <p>
                                                    agarkot, at an altitude of 2,175 meter above the sea level, is the most popular touristic destination out of the Kathmandu Valley. It is the favorite weekend gateaway among those seeking mountain view in comfort and quiet. At sunrise, the Himalayan range, stretching from Dhaulagiri in the west all the way past Everest to Kanchenjunga in the east, emerges from the darkness to greet the happy visitors with its awe inspiring majesty and beauty. For those wishing to stretch their legs and enjoy the fresh morning air, there are charming walking trails as well as a lookout tower from which the sights can be taken in. Getting to Nagarkot is easy that doesn't take more than two hours by a tourist bus.
                                                </p>
                                                <br />
                                                <p>
                                                    Among all the places for mountain viewing around Kathmandu Valley, Nagarkot is usually considered to be the best. The views go from Dhaulagiri in the west to Kanchenjunga in the east. On a clear day you can see Mt. Everest (Sagarmatha). You can also see Manaslu (8,463m), Ganesh Himal (7,111m), and Langtang (7,246m). Many people go up to Nagarkot in the afternoon, stay in a hotel in Nagarkot, and then get up at dawn to see the Himalaya Mountains during the sunrise.

                                                    There is a lookout tower south of the village where you can get a 360º view of the scenery. It is an easy one hour walk from the main hotel area. To get there you have to pass an army checkpoint, and they will only let you pass in the morning. You can go to Nagarkot in the afternoon and stay over night and view the mountain at sun rise.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>Bhaktapur </h3>
                                    <div style="background-color: white">
                                        <div class="tour-map-wrapper">
                                            <div class="tour-map" style="padding-left: 10px;">
                                                <div class="product-detail__gallery">
                                                    <div class="product-slider-wrapper">
                                                        <div class="product-slider">
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Kathmandu/19.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Kathmandu/20.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Kathmandu/21.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Kathmandu/22.jpg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6>Bhaktapur</h6>
                                            <div class="padding">
                                                <p>
                                                    Located about 20 km east of Kathmandu in the Kathmandu Valley, Bhaktapur is known as the 'City of Devotees', the 'City of Culture', the 'Living Heritage', and 'Nepal's Cultural Gem'. It is one of the 3 royal cities in the Kathmandu Valley. The others are Kathmandu, the capital of Nepal, and Patan.

                                                    Bhaktapur is filled with monuments, most terra-cotta with carved wood columns, palaces and temples with elaborate carvings, gilded roofs, open courtyards. The city is dotted with pagodas and religious shrines.
                                                </p>
                                                <br />
                                                <p>
                                                    Founded in the 12th century by King Ananda Malla (according to various chronicles), Bhaktapur was the capital city of the Greater Malla Kingdom until the 15th century and was an independent kingdom from then until the 18th century.
                                                    The last three Malla rulers of Bhaktapur were Jitamitra Malla, Bhupatindra Malla, and Ranjit Malla. These rulers played key roles in building the palaces and temples of Durbar Square.
                                                    In 1744, Prithvi Narayan Shah, descendent of Dravya Shah, who was the founder of the Gorkha dynasty, began a conquest march in the Kathmandu Valley, capturing and unifying Kathmandu, Patan, Bhaktapur, and the smaller towns of the Valley under one rule.
                                                    After a period of instability and a bloody coup in 1846, Jang Bahadur Kunwar Ranaji took control of Nepal. His Rana dynasty ruled Nepal until 1951, when the Congress Party formed a new government. In 1960, King Mahendra took control, banned political parties, and instituted land reforms. Political turmoil continued throughout the late 20th century.
                                                    In 1934, a major earthquake destroyed over 2,000 houses and severely damaged over 2,000 more homes. Over 1,000 people died in this quake. Restoration of many buildings was undertaken over the years, including efforts funded by West Germany in the late 1980's and by the U.S. in the 1990's.Bhaktapur is filled with Hindu and Buddhist religious sites and art. Although the population is primarily Hindu, there are nineteen Buddhist monasteries (Vihars). At Indra Varna Madavihar, built in 1671 and located between Durbar Square and Dattatraya Square, visitors can see two lion statues, a Patinga Hiti (water spout), Tantric wood-carved windows, and prayer wheels.
                                                    There are also many Buddhist monuments and shrines, including Lokeswor Mahavihar, Prasannasheel Mahavihar, Chatu Brahma Mahavihar, Jaya Kirti Mahavihar, Sukra-varna Mahavihar, Dipanker Mahavihar.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>Pashupatinath</h3>
                                    <div style="background-color: white">
                                        <div class="tour-map-wrapper">
                                            <div class="tour-map" style="padding-left: 10px;">
                                                <div class="product-detail__gallery">
                                                    <div class="product-slider-wrapper">
                                                        <div class="product-slider">
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Kathmandu/17.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Kathmandu/18.jpg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6>Pashupatinath</h6>
                                            <div class="padding">
                                                <p>
                                                    Standing proudly 23.6 meters above the ground in the middle of an open courtyard at Deopatan, is the largest Hindu temple of Nepal, the Pashupatinath. This temple is devoted to Lord Shiva or Pashupati (Lord of animals) who, according to legend, happened to take the form of an atelope and wander unknown in the forest situated east of the Bagmati river. Since the great lord took the form of an animal, he is known as the Pashupatinath and the temple is established in that very area. There is another legend regarding the establishment of this temple. According to it, Lord Shiva and his wife, goddess Parvati came to the east bank of Bagmati and fell in love with the place. Both gods took the form of deers and hid inside the forest. The gods found them later but they refused to leave. After much trying, Lord shiva agreed to return only if he would be called Pashupatinath. Similarly, there are several other legends in support of the establishment of this temple like the Cow legend and the Devalaya legend. However, according to historians this temple was built by Supus Padeva(a ruler from the Licchavi Dynasty). When he built it, it was a five storey temple which was reconstructed later by a medieval king, Shivadaya. The temple we can see today was then renovated by Ananta Malla.
                                                </p>
                                                <br />
                                                <p>
                                                    There’s a huge statue of a bull(Nandi) which is approximately six feet tall and plated in bronze. It rests lazily in front of the temple though it’s eyes remain fixed to the Lord, just like that of a bodyguard. Beside Nandi, a totally orange Hanuman made up of complete black stone can be seen. On the right of Hanuman, Lord Rama, Lord Krishna and several other gods have their own personal temples.

                                                    On the left side of the temple, there is a stairway which leads to a temple with a hole through which one has to peep to see God in complete darkness. Then there is another stairway which will lead to a miniature form of sleeping Vishnu, the Budhanilkantha. Then one can either take a door to the left or move straight.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
