
@{
    ViewBag.Title = "Pokhara";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div id="page-wrap">
    <!-- PRELOADER -->
    <div class="preloader"></div>
    <section class="product-detail">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="product-detail__gallery">
                        <div class="product-slider-wrapper">
                            <div class="product-slider">
                                <div class="item">
                                    <img src="~/Content/WebsiteContent/images/img/Pokhara/1.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="~/Content/WebsiteContent/images/img/Pokhara/2.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="~/Content/WebsiteContent/images/img/Pokhara/3.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="~/Content/WebsiteContent/images/img/Pokhara/4.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="~/Content/WebsiteContent/images/img/Pokhara/5.jpg" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="product-tabs tabs">
                        <ul>
                            <li>
                                <a href="#tabs-1">About Pokhara </a>
                            </li>
                            <li>
                                <a href="#tabs-2">Famous Destination</a>
                            </li>

                        </ul>
                        <div class="product-tabs__content">
                            <div id="tabs-1" style="background-color: white">

                                <div class="tour-map-wrapper">
                                    <div class="tour-map" style="padding-left: 10px;">
                                        <div data-latlong="28.2380, 83.9956"></div>
                                    </div>
                                    <h6>Pokhara</h6>
                                    <p class="p_padding">
                                        The Pokhara Valley, a land of spectacular beauty crowned by the majestic Himalayas, conjures visions of calm but vibrant green hills. Loaded with luxuriant vegetation and dotted with shimmering lakes, the valley offers awesome vistas. Magnificent image of Mount Machhapuchhare reflected in the clear waters of the Lake Phewa leaves everyone spellbound. One of the Nepal’s adventure hubs, it has reputation of being the second home for the tourists worldwide.
                                        Pokhara is situated at an altitude of 730 meters to 1030 meters. Its rich topographical conditions are responsible for the profusion of flora and fauna. The geographical location has made Pokhara one of the biggest valleys in Nepal. The valley is encircled by lush green hills ranging in height from 1077 meters in the South East of 2738 meters in the North East. Snow clad mountains add a special radiance to the valley. They also form snow-fed rivers that run through the heart of the valley.Pokhara is the district headquarters of the Western Region Development. The valley lies between 83 degrees 58’ 30” E longitude and 28 degrees 16’ N latitude. Situated at elevation ranges from 627m to 980m above sea level, it covers an area of 123 sq. kms surrounded by high mountains. The total area of Pokhara Sub-Metropolitan City is 55.66 sq. kms as compared to Lekhnath municipality which is 77.75 sq.ms. The present population growth rate is about 7.41%.
                                    </p>
                                    <br>
                                    <br>
                                    <p class="p_padding">The best time to visit Pokhara are Ocotber and November, in autumn; and February, March and April in spring. During these months, the overall climate of Pokhara is conducive for sightseeing, trekking, white water rafting and paragliding. The trekkers will have excellent clear days for trekking in the Annapurna region during December and January. Kathmandu is shrouded in mists that envelop the city until mid-day.; Pokhara has very clear weather with the sun shining and the sky bright blue. The tourists can feast on the lofty snow-covered Annapurnas sprawling along the valley. Sarangkot is the heavenly point to have exhilarating views of the valley. The tourists visiting during the Monsoon season may not be as fortunate as the torrential rains cause landslides and avalanches throughout Nepal.</p>
                                </div>

                            </div>

                            <div id="tabs-2">

                                <div class="trip-schedule-accordion accordion">
                                    <h3>Phewa Lake</h3>
                                    <div style="background-color: white">
                                        <div class="tour-map-wrapper">
                                            <div class="tour-map" style="padding-left: 10px;">
                                                <div class="product-detail__gallery">
                                                    <div class="product-slider-wrapper">
                                                        <div class="product-slider">
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Pokhara/6.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Pokhara/7.jpg" alt="">
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6>Phewa Lake</h6>
                                            <div class="padding">
                                                <p>
                                                    Phewa lake is the second largest lake of Nepal and the largest lake of Pokhara Valley. IT is situated at an altitude of 784m at the western edge of Pokhara city near Baidam. It covers an area of about 4.43 sq km with an average depth of about 8.6m, maximum water depth is 19m. The maximum water capacity of the lake is estimated to be 46 million cubic meters. It lies in the valley of Harpan Khola which feeds the lake. On the southern mouth of the lake, at the crown of Pardi River, a dam is built which has nearly doubled the water level. The water of the lake is used for irrigation and electricity generation.
                                                </p>
                                                <br>
                                                <p>
                                                    The first main attraction is the pagoda style temple in the lake which is the shrine of Barahi (Water Goddess). The next main attraction is the mirror image of mount Machhapuchhre and Annapurna range on the crystal clear water of the lake. The south – eastern side of the lake offers the best view. THere is facility of canoeing and fishing.

                                                    Phewa originally used to cover an area of 9 sq km but now has been reduced to 4.43 sq. km. Geologically the rocks of either side of Phewa are slate and quartzite and make anticline structure along the axis of the lake.
                                                    The lake is the home of 17 species of native fish and 4 exotic species. The forest and lake is the habitat of 6 species of amphibians, 14 species of reptiles, 34 species of mammals and 104 species of birds. Out of 104 species of birds, 14 are migratory species.
                                                    .
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>Rupa Tal & Begnas Tal</h3>
                                    <div style="background-color: white">
                                        <div class="tour-map-wrapper">
                                            <div class="tour-map" style="padding-left: 10px;">
                                                <div class="product-detail__gallery">
                                                    <div class="product-slider-wrapper">
                                                        <div class="product-slider">
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Pokhara/10.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Pokhara/11.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Pokhara/9.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Pokhara/8.jpg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6>Rupa Tal & Begnas Tal</h6>
                                            <div class="padding">
                                                <p>
                                                    Begnas Lake, the second largest lake of Pokhara Valley is situated at an altitude of 650m. It is located in the Siswa village on the eastern part of Pokhara and is 13 km away from the Pokhara city. It covers an area of 3 sq. km. Average water depth of the lake is 9.37 and the maximum water depth is 13.84m. The capacity of the lake is 29.05 million cubic meter. It is comparatively deeper in the northern and western part in the comparision to eastern and southern part. The lake water is drained out by Khudi Khola from the western part.

                                                    Geologically the area is composed of slate and phyllite zone with beds of calcareous conglomerate and gravel deposits. The vegetation here is quite different than in other parts of Pokhara because here the major species on the southern aspect of the hills on the northern part of the lake is Shorea robuista whereas the major species of the forest on the northern aspect of the hill lying on the southern part of the lake is Schima-Castonopsis. The forest is very dense on the northern and southern part of the lake whereas there is cultivation on the eastern part and fishery project on the western part.
                                                </p>

                                                <br>
                                                <p>
                                                    Rupa Lake is separated by the Pachabhaiya ridge from Begnas Tal, hence, these two lakes are often called the twin lakes. Rupa Lake is situated at an altitude of about 600m and covers an area of 1.12 sq km running along from north to south. The average depth of the lake is 3.0m and maximum water depth is 4.79m. Its water holding capacity is 3.1 million cubic meter.

                                                    Rivers and Wate
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    <h3>Devis Fall</h3>
                                    <div style="background-color: white">
                                        <div class="tour-map-wrapper">
                                            <div class="tour-map" style="padding-left: 10px;">
                                                <div class="product-detail__gallery">
                                                    <div class="product-slider-wrapper">
                                                        <div class="product-slider">
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Pokhara/12.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Pokhara/13.jpg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6>Devis Fall</h6>
                                            <div class="padding">
                                                <p>
                                                    Pokhara is the only city in Nepal which is famous for water falls. As we drive by the river sides below the hills we can see several beautiful and dashing water falls flowing downhill and finally flowing to the rivers. The highway to Baglung consist of several water falls. The city itself has a beautiful waterfall within itself and it is known as Davis Fall (In Nepali: Patale chango):
                                                    This is a breath taking view of Davis Fall in Chorrepatan. Chorrepatan is famous for this water fall and there is also a cave just two minutes walk from this fall. The water flowing in this fall comes from Fewa lake and the fall is worth visiting during the rainy seasons as it possesses its maximum velocity.
                                                    Pokhara is famous for mountains. But this is not only the thing that has made Pokhara popular. Davis fall is also one of the main tourist attraction center here in Pokhara. Davis fall is open every day of the week for the visitors. The ticket cost is very cheap and it is worth visiting.
                                                    This snap also features Davis Fall during the Winter season. During winter there is a mass decrease in the water volume of the Fewa Lake hence the Dam is closed to maintain the water volume within the Fewa Lake. This causes the Davis Fall in maximum decrement in its water volume. The corresponding snap features the rock formation made by the high velocity of the water flowing within it.
                                                    This snap features the Davis fall during the rainy season. The excess water in Fewa lake needs to be drained hence the dam is open during summer and this makes Davis fall much more vigrous. Davis fall is worth visiting during the rainy and summer seasons. This high velocity of water has created different type of rock formation as shown in the above snap.
                                                    The B.K.R.E Himalaya first explored this waterfall in 1970. The Devi’s fall measures 48 meters deep and 1479 meters long. The gushing waters of Phewa Lake travel through a roughly 1km. long tunnel to converge with the Phusre Khola.
                                                    During the Monsoon season, the water level in Devi’s fall rises to an amazing height, the most turbulent water currents engulf even the safety barrier built around the falls.
                                                    This is the most fascinating waterfall in Pokhara and the first of its kind in Nepal. It lies at 2 kms south-west of downtown Pokhara. This huge waterfall can be seen during the rainy season from June to September, n winter the strength of the water dies down and only a stream of water runs down the rocks from Phewa Lake and falls at Devi’s fall. Beneath the waterfall is a huge cavern with walls covered in limestone deposits.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>Barahi Temple</h3>
                                    <div style="background-color: white">
                                        <div class="tour-map-wrapper">
                                            <div class="tour-map" style="padding-left: 10px;">
                                                <div class="product-detail__gallery">
                                                    <div class="product-slider-wrapper">
                                                        <div class="product-slider">
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Pokhara/15.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Pokhara/14.jpg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6>Barahi Temple</h6>
                                            <div class="padding">
                                                <p>
                                                    Tal Barahi Temple is a small 2 story pagoda-style temple devoted to the deity Tal Barahi. This Hindu  temple in nepal dedicated to Ajima in the boar manifestation, represation of the force of Shakti . Shakti is the Hindu mother goddess who  is the origin of the univese creativity and power. Shakti as a feminine power assumens several roles. In the form of Durga, Shakti protects the gogs from demons. Durga takes on the manifestation of Ajima in the form of a boar called Barahi to pirece her evil enemies with her pointed tusks. Barahi is pictureds with the face of boar with a cup in one hand and fish in other hand. As such, Barahi Temple is a very important center of worship for the Hindu devotees. Tourists are likely to see worshipers making their way to the temple on saturdays carrying
                                                    way to the temple on saturdays carrying animals fir sacrifice.
                                                </p>
                                                <br />
                                                <p>
                                                    The original structure of the temple is made of stone and has a thadched roof. The dramatic beauty of its location it self attracts everyone. As the Temple is on a  small island in fewa lake, the only way to visit it is by boat. tal barahi is one of the most famous pilgrimage sites in Nepal  and countless Hindus come to worship the deity.The legend , has it that
                                                    many years ago a deity named Barahi came here to see the local People here but later decided to live here permanently.The temple located in the heart the Pokhara valley at lakeside and is easy to get to from any part of Pokhara. Talbarahi temple sits on a small mound surrounded by the crystal-clear waters of fewa Lake. The only way of getting to the temple is by boat. Phewa Lake is the second biggest in Nepal. It size measures in at 4 km by 1.5 km. The lake itself is a major attraction drawing those who enjoy water sports, families and those who simply love absorbing the beautiful scenery.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>The Gupteswor Mahadev Cave</h3>
                                    <div style="background-color: white">
                                        <div class="tour-map-wrapper">
                                            <div class="tour-map" style="padding-left: 10px;">
                                                <div class="product-detail__gallery">
                                                    <div class="product-slider-wrapper">
                                                        <div class="product-slider">
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Pokhara/16.jpg" alt="">
                                                            </div>
                                                            <div class="item">
                                                                <img src="~/Content/WebsiteContent/images/img/Pokhara/17.jpg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h6>The Gupteswor Mahadev Cave</h6>
                                            <div class="padding">
                                                <p>
                                                    Located in the southeast at Chhorepatan, Pokhara, the Gupteswor Mahadeva cave is considered 599 years old. While the young local people went deeper, they found out that an idol-like object resembling Lord Shiva had formed naturally on the spot. Later on, it was taken to be Lord Shiva and the local people formally consecrated and installed it at the mouth of the cave in 1992.
                                                    The long flights of stairs wind down to the temple of Lord Shiva where the lord perched on a raised platform fenced by iron bars can be seen. The cave is musty and damp but a string of electric light bulbs emits enough light to see the stairs clearly. Most of the time you need to bend down until you have passed through the 50 meters long tunnel. However, once you have passed through the tunnel, there is a huge open cavern with enormous rocks, no trace of soil at all, only little pebbles scattered everywhere. On the right hand side there is a deep gorge. After a few yards of scrambling through the darkness, there is a crystal clear pond and from here you can see the awe-inspiring Patale Chhango (Devi’s falls) falling right from the top.
                                                    Gupteswor Mahadeva cave is situated on the Pokhara-Tansen road. From the Lakeside and Damside, the cave is a leisurely walk away, but visitors can also hire a taxi, rent a motor bike or bicycle to get to it. A microbus service is also available which is cheap and reliable form of transport from the city.
                                                </p>
                                                <br />                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

